<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>flashcard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../webapp/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/app.css}" href="../../webapp/css/app.css" />
</head>

<body>
        <section style="width: 60%; margin-left: 10em">
                <h1>Entity Not Found</h1>
        <p>There are some conflicts. Please contact the system administrator</p>
    </section>
</body>
</html>

