<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>flashcard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/app.css}" href="../../static/css/app.css" />
</head>

<body>
    <section style="width: 60%; margin-left: 10em">
        <h1>Error Page</h1>
        <p>Application has encountered an error. Please contact support on ...</p>
    </section>
</body>

</html>