<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.fhnw.edu.emoba.ab3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ch.fhnw.edu.emoba.ab3.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ch.fhnw.edu.emoba.ab3.CounterActivity">
            <intent-filter>
                <action android:name="ch.fhnw.edu.helloworld.HELLOWORLD" />
                <!--
                In order to receive implicit intents, you must include the CATEGORY_DEFAULT category in the intent filter.
                -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
