PathPane {
    -fx-background-color: azure;
    -fx-padding: 20;
    -fx-spacing: 20;
}

.pathPlayground {
    -fx-border-color: blue;
    -fx-border-width: 2;
    -fx-background-color: red;
    -fx-scale-shape: true;
    -fx-shape: "M73.1367188,86.0625 C119.074719,54.3374032 218.519531,79.5039062 218.519531,79.5039062 C218.519531,79.5039062 330.13524,205.673732 252.203125,174.617188 C190.429687,150 190.429688,243.335937 190.429688,243.335937 L98.6953125,266.214844 L52.6328125,194.066406 C52.6328125,194.066406 27.1987181,117.787597 73.1367188,86.0625 Z";
}
