<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
	<title>flashcard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
</head>

<body>
	<section>
		<h3>Questionnaires</h3>
		<table>
			<tbody>
				<tr th:each="questionnaire : ${questionnaires}">
					<td><a th:href="@{/questionnaires}+ '/' + ${questionnaire.id}" th:text="${questionnaire.title}">Test Title</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</body>

</html>
