{% extends "index.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<h1>Kontakt</h1>
<form class="form-horizontal" role="form" method="post" action="/help/contact">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Nachricht</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" id="message" name="message" placeholder="Nachricht"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="human" name="human" placeholder="Antwort">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Senden" class="btn btn-primary">
        </div>
    </div>
</form>
{% endblock %}
