<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>mode</param-name>
        <param-value>test</param-value>
    </context-param>
    <context-param>
        <param-name>messagefilename</param-name>
        <param-value>message.properties</param-value>
    </context-param>
</web-app>
